.auth-container {
	margin: auto;
	width: 503px;
	height: max-content;
	border-radius: 44px;
	background-color: #e990f9;
	text-align: center;
}

.auth-container > .image {
	margin-top: 77px;
}

.auth-container > .btn {
	margin: 56px auto;
}

.auth-container > .btn > a {
	text-decoration: none;
	padding: 17px 60px;
	border-radius: 36px;
	border: solid 3px #ffffff;
	background-color: #e990f9;
	font-size: 18px;
	color: #fff;
	font-family: SFUIText-Bold;
	font-size: 18px;
	transition: background-color .2s,
				color .2s;
}

.auth-container > .btn > a:hover {
	transition: background-color .2s,
				color .2s;
	background-color: #fff;
	color: #e990f9;
}

@media (max-width: 670px) {
	.auth-container {
		width: 100%;
		background-color: #fff;
	}
	.auth-container .image {
		margin-top: 141px;
	}
	.auth-container .image svg {
		stroke: #e990f9;
	}
	.auth-container .image path {
		fill: #e990f9;
	}
	.auth-container > .btn {
		margin: 103px auto;
	}
	.auth-container > .btn > a {
		border: solid 3px #e990f9;
		background-color: #fff;
		color: #e990f9;
	}
	.auth-container > .btn > a:hover {
		background-color: #e990f9;
		color: #fff;
	}
}


