.wrapper {
    margin: 120px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper > div {
    width: 40%;
    padding: 20px;
    margin: 1%;
    background: rgba(0, 0, 0, .9);
}

.wrapper > div > div:first-child {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.wrapper > div > div:nth-child(2) {
    margin-top: 10px;
    padding: 10px;
}

.wrapper > div > div > span {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gloria Hallelujah', cursive;
    color: floralwhite;
}

.wrapper .cafe span {
    font-size: 18px;
    font-family: 'Gloria Hallelujah', cursive;
    color: floralwhite;
}

.wrapper .cafe {
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color .5s;
    display: flex;
    justify-content: space-between;
}

.wrapper .cafe:hover {
    background-color: rgba(0, 0, 0, .9);
    transition: background-color .5s;
}

.wrapper .cafe:last-child {
    margin-bottom: 0;
}

.wrapper .img-container {
    width: 30%;
    text-align: center;    
    margin: auto;
}

.wrapper .cafe img {
    width: 100%;
    height: auto;
}

.wrapper .description {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

.wrapper .description > span:first-child {
    align-self: center;
}

@media (max-width: 870px) {
    .wrapper > div {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wrapper {
        margin: 120px 0 0 0;
    }
}
