
.container-basket {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
}

.container-basket .title {
  padding: 10px;
  background-color: rgba(104, 7, 110, 0.6);
}

.container-basket span {
  opacity: 1;
}